div{
    padding-left: 580;
    padding-top: 200;
   
}
table{
    border: 2;
    border-style: solid;
    
    width: 200;
    height: 200;
    background-color: black;
}
#height{
    width: 110;
    height: 30;
  

}
body{
    background-color: lightblue
}
p{
    text-align: center;
    font-style: italic;
    font-size: large;
    padding-right: 640;
}